@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  font-family: Lato;
  margin: 0;
  background-color: #f3f4f6;
  font-weight: bold;
}

section {
  max-width: 90%;
  width: 600px;
  margin: auto;
  text-align: center;
}

input#bill,
button#next {
  display: block;
}

input#cash,
button#check,
label#label-cash {
  display: none;
}

a#github-repo {
  color: #231f20;
  font-size: 3rem;
  position: absolute;
  right: 1.25rem;
  top: 0.5rem;
}

h1 {
  font-size: 2.3rem;
  color: #da0808;
  margin-block-end: 0;
  margin-block-start: 1rem;
}

h4 {
  font-size: 1.1rem;
  margin-block-end: 0;
  margin-block-start: 1rem;
  line-height: 1.5rem;
}

hr {
  margin: 1rem 0;
}

label {
  font-size: 1.1rem;
}

input {
  font-family: Lato;
  font-size: large;
  font-weight: bold;
  border: 2px solid #da0808;
  border-radius: 0.5rem;
  padding: 0.75rem;
  margin: 0.75rem auto;
  max-width: 30%;
  width: 200px;
}

button {
  font-family: Lato;
  padding: 0.5rem 1.5rem;
  margin: 0.75rem auto;
  border: 2px solid #da0808;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  background-color: #da0808;
}

h4#message-text {
  display: none;
  font-size: 1.4rem;
}

/* return change table */
table#change-table {
  display: none;
  margin: 1rem auto 0;
  border-collapse: collapse;
}

table#change-table th {
  font-weight: bolder;
  font-size: 1.1rem;
}

table#change-table th,
td {
  border: 2px solid #da0808;
  /* good for mobile phone as well */
  /* padding: 0.44rem; */
  padding: 1rem 1.3rem;
}